extends layouts/navbar.pug

block content

    form#user-form(method="POST", action="/send")
        .form-group
            label.form-label(for="user-name") Enter Name:
            input.form-input#user-name(name="name", type="text", placeholder="Please enter your name")
        button.form-btn(type="submit") Submit